.login-container { 
    margin-top: 50px;
    display: flex;
    // align-items: center;
    justify-content: center;
    .login-card {
        padding:  30px;
    }
}


.create-card {
    padding:  30px;
    
}
.modal-create {
    width: 400px;
    
    margin-left: auto;
    
    margin-right: auto;
    margin-top: 10%;
    @media only screen and (max-width: 600px){
        width: 95%
    }
}

.rowHidden{
    padding-top:0 !important;
    padding-bottom: 0 !important;
    height: 0 !important;
}

.task-table {
    padding: 20px;
    align-items: flex-end;
    .create-task-button {
        // margin-top: 20px
        margin-left:auto;
        margin-right: auto; 
    }
}

.padding-y-10  {
    padding-top: 10px;
    padding-bottom: 10px;
}